body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}
#galery > img {
  width: 90%;
  margin: 1vw;
  transition: 0.2s;
  cursor: pointer;
}
#galery > img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.contentDiv {
  font-size: 2vh;
  /* text-align: center; */
  width: 50vw;
  z-index: 10;
  height: 100vh;
  /* background-color: #202023; */
  /* background-color: #dccd2971; */
}
#menu {
  width: 100vw;
  height: 8vh;
  z-index: 1000;
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  font-size: x-large;
  padding: 0 30vw 0 30vw;
  position: fixed;
  background-color: yellow;
  -webkit-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
  -moz-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
  box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
  /* -webkit-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
  -moz-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
  box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1); */
  /* font-family: "Courier New", Courier, monospace; */
}
.none {
  display: none !important;
}
#fotter {
  width: 100vw;
  z-index: 1000;
  height: 10vh;
  background: #fff;
  border-top: 1px solid rgba(143, 202, 100, 1);
  display: flex;

  /* -webkit-box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1);
  -moz-box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1);
  box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1); */
}
#homeDiv {
  height: 90vh;
  width: 50vw;
  margin-left: -40vw;
  padding: 3vh;
  z-index: 100;
}
.menuBtns {
  height: 100%;
  width: 12vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.menuBtns:hover {
  background-color: #8fca64;
  /* color: #fff; */
}

.logo {
  position: fixed;
  z-index: 10;
  width: 7vh;
  height: 7vh;
  top: 0.5vh;
  left: 3vw;
  z-index: 10000;
  cursor: pointer;
  transition: 0.3s;
}
#container {
  width: 100vw;
  height: 100vh;
  padding-top: 15vh;
  background: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
hr {
  border-color: #8fca64;
  color: #8fca64;
  background-color: #8fca64;
  height: 5px;
}
#homePhoto {
  position: absolute;
  left: 55vw;
  top: 10vh;
  width: 50vw;
  max-height: 80vh;
  height: 80vh;
  transition: 0.3s;
}
#homePhoto:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#homeBtn {
  width: 12vw;
  height: 7vh;
  background-color: #8fca64;
  text-align: center;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.3s;
}
#homeBtn:hover {
  background-color: #6e9d4d;
}

h1 {
  font-size: 4vh;
}
.logo:hover {
  transform: rotate(360deg);
  transition: 0.3s;
}

#galery {
  display: grid;
  padding-top: 10vh;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: center;
}

#zoomPhoto {
  width: 100vw;
  height: 92vh;
  margin-top: 8vh;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  z-index: 1000000;
  /* background-color: rgba(0, 0, 0, 0.5); */
  align-content: center;
  justify-content: center;
  align-items: center;
}
#zoomPhoto > img:nth-child(2) {
  width: 70vw;
  height: 70vh;
}

#closeCross {
  position: absolute;
  width: 4vh;
  height: 4vh;
  fill: #fff;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
  color: #fff;
}
.homeText {
  font-size: 1.1rem;
}

.lista {
  font-size: 1rem;
}
