body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0%;
  opacity: 0.6;
}

#galery > img {
  width: 21vw;
  transition: 0.2s;
  padding: 1vh 1vh 1vh 1vh;
  margin: 3vh;
  cursor: pointer;
  height: 100%;
  max-height: 30vh;
  border: 1px solid #25ab25;
}
#galery > img:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
.contentDiv {
  font-size: 2vh;
  /* text-align: center; */
  width: 50vw;
  z-index: 10;
  margin-bottom: 5vh;
  /* background-color: #202023; */
  /* background-color: #dccd2971; */
}
#menu {
  width: 100vw;
  height: 8vh;
  z-index: 10001;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  font-size: x-large;
  padding: 0 30vw 0 30vw;
  position: fixed;
  background: rgb(255, 203, 4);
}
.none {
  display: none !important;
}
#fotter {
  width: 100vw;
  z-index: 3;
  height: 10vh;
  background: #fff;
  display: flex;
}
#homeDiv {
  height: 90vh;
  width: 50vw;
  margin-left: -40vw;
  padding: 3vh;
  z-index: 100;
  padding-top: 0;
}
.menuBtns {
  height: 100%;
  width: 12vw;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
  color: white;
}

.menuBtns:hover {
  background-color: #f1f3f7;
  color: #000;
}

.logo {
  position: fixed;
  width: 7vh;
  height: 7vh;
  top: 0.5vh;
  left: calc(5vw + 3vh);
  cursor: pointer;
  transition: 0.3s;
  z-index: 100000;
}
#container {
  width: 100vw;
  padding-top: 15vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
hr {
  border-color: #25ab25;
  color: #25ab25;
  background-color: #25ab25;
  height: 5px;
}
#homePhoto {
  position: absolute;
  left: 38vw;
  top: 23vh;
  max-height: 80vh;
  height: 80vh;
  transition: 0.3s;
  z-index: 10000;
}
#homePhoto:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#homeBtn {
  width: 12vw;
  height: 7vh;
  background-color: #8fca64;
  text-align: center;
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: 0.3s;
}
#homeBtn:hover {
  background-color: #6e9d4d;
}

h1 {
  font-size: 4vh;
}
.logo:hover {
  transform: rotate(360deg);
  transition: 0.3s;
}

#galery {
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  width: 70vw;
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: center;
  margin: 15vh 0 5vh 0;
}

#zoomPhoto {
  width: 100vw;
  height: 92vh;
  margin-top: 8vh;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.8);
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
}
#zoomPhoto > img:nth-child(2) {
  height: 70vh;
}

#closeCross {
  position: absolute;
  width: 6vh;
  height: 6vh;
  fill: #fff;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

#closeCross:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.homeText {
  font-size: 1.1rem;
}

.lista {
  font-size: 1rem;
}

.choosen {
  background-color: #f1f3f7;
  color: #000;
}

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  z-index: 1000;
  bottom: 0;
  position: relative;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

/*  */

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

#contactMainDiv {
  text-align: center;
}

.list-unstyled {
}
i {
  font-size: 4vh !important;
}
#contactMainDiv
  > section
  > div
  > div.col-md-3.text-center
  > ul
  > li:nth-child(3)
  > p {
  overflow-wrap: anywhere;
}

#contactFormIcons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#sendBtn {
  width: 10vw;
  background: #ffcb04;
  color: white;
}

#galeryText {
  width: 100vw;
  padding: 5vh;
  height: 20vh;
  position: absolute;
  top: 8vh;
  /* display: revert; */
  text-align: center;
}

.list-unstyled {
  padding-left: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 4vh;
  font-size: 1.6vh;
}

.list-unstyled > div {
  width: 33vw;
  text-align: center;
  padding: 2vh 2vw 0 2vw;
}

.form-control {
  margin: 0 0 3vh 0;
}
