body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}
#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0%;
  opacity: 0.5;
}

#galery > img {
  width: 40vw;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  height: 100%;
  max-height: 17vh;
}
#galery > img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.contentDiv {
  font-size: 2vh;
  /* text-align: center; */
  width: 100vw;
  z-index: 10;
  height: 100vh;
  /* backgroun-color: #202023; */
  /* background-color: #dccd2971; */
}
#menu {
  width: 100vw;
  height: 8vh;
  z-index: 10001;
  /* border-bottom: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  font-size: x-large;
  padding: 0 5vw 0 30vw;
  position: fixed;
  background: rgb(255, 203, 4);
  /* background: linear-gradient(
      149deg,
      rgba(255, 203, 4, 1) 70%,
      rgba(37, 171, 37, 1) 100%
    );
    -webkit-box-shadow: 0px 10px 14px -1px rgba(37, 171, 37, 1);
    -moz-box-shadow: 0px 10px 14px -1px rgba(37, 171, 37, 1);
    box-shadow: 0px 10px 14px -1px rgba(37, 171, 37, 1);
    /* -webkit-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
    -moz-box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1);
    box-shadow: 0px 10px 14px -1px rgba(143, 202, 100, 1); */
  /* font-family: "Courier New", Courier, monospace;  */
}
.none {
  display: none !important;
}
#fotter {
  width: 100vw;
  z-index: 3;
  height: 10vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  /* -webkit-box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1);
    -moz-box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1);
    box-shadow: 0px -10px 14px -1px rgba(255, 248, 0, 1); */
}
#homeDiv {
  height: 90vh;
  width: 100vw;
  padding: 3vh;
  z-index: 100;
  padding-top: 0;
}
.menuBtns {
  height: 100%;
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  white-space: nowrap;
  color: white;
}

.menuBtns:hover {
  background-color: #f1f3f7;
  color: #000;
}

.logo {
  position: fixed;
  width: 7vh;
  height: 7vh;
  top: 0.5vh;
  left: 3vh;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 100000;
}
#container {
  width: 100vw;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-line-pack: center;

  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
hr {
  border-color: #25ab25;
  color: #25ab25;
  background-color: #25ab25;
  height: 5px;
}
#homePhoto {
  display: none;
  position: absolute;
  left: 38vw;
  top: 23vh;
  max-height: 80vh;
  height: 80vh;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 10000;
}
#homePhoto:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#homeBtn {
  width: 12vw;
  height: 7vh;
  background-color: #8fca64;
  text-align: center;
  cursor: pointer;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#homeBtn:hover {
  background-color: #6e9d4d;
}

h1 {
  font-size: 4vh;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#galery {
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2vh 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20vh;
  width: 90vw;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  justify-items: center;
  gap: 2vh;
  padding-bottom: 10vh;
}

#zoomPhoto {
  width: 100vw;
  height: 92vh;
  margin-top: 8vh;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  z-index: 1000007;
  background-color: rgba(0, 0, 0, 0.8);
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  /* transition: 2s;
    
    transform: scale(0.1); */
}
#zoomPhoto > img:nth-child(2) {
  width: 80vw;
}

#closeCross {
  position: absolute;
  width: 6vh;
  height: 6vh;
  fill: #fff;
  top: 5vh;
  right: 5vw;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#closeCross:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.homeText {
  font-size: 1.6vh;
}

.lista {
  font-size: 1.4vh;
}
#homeDiv > p:nth-child(5) {
  font-size: 1.6vh;
}
/* .zoomPhoto {
    transform: scale(1) !important;
    transition: 2s;
  } */

/* 
   */
.choosen {
  background-color: #f1f3f7;
  color: #000;
}

/*  */

.footer-basic {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  z-index: 1;
  bottom: 0;
  position: relative;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

/*  */

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

#contactMainDiv {
  text-align: center;
  margin-top: 5vh;
}

/* form margin */
/* .row {
  margin-bottom: 4vh;
} */

.list-unstyled {
}
i {
  font-size: 4vh !important;
}
#contact > div.list-unstyled > div:nth-child(3) > p {
  overflow-wrap: anywhere;
}

#contactFormIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#sendBtn {
  width: 25vw;
  background: #ffcb04;
  color: white;
  height: 2.75rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25vh;
}
.list-unstyled {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 0;
  margin-top: 4vh;
  font-size: 1.6vh;
}

.list-unstyled > div {
  width: 33vw;
  text-align: center;
  padding: 2vh 2vw 0 2vw;
}
.form-control {
  width: 90% !important;
}
#galeryText {
  width: 100vw;
  padding: 5vh;
  height: 20vh;
  position: absolute;
  top: 8vh;
  /* display: revert; */
  text-align: center;
}

#callIcon {
  right: 9vh;
}
#messageIcon {
  right: 1vh;
}
.callBtn {
  position: fixed;
  z-index: 100000;
  background-color: #ffcb04;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  bottom: 1vh;
  right: 9vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

#contactMainDiv > p {
  font-size: 1rem;
  padding: 0 2rem 0 2rem;
}

#galeryText > p {
  font-size: 1rem;
}
